:root {
    /* Neutros (mantive os seus porque funcionam bem) */
    --color-neutral-0: #ffffff;
    --color-neutral-1: #f5f5f5;
    --color-neutral-2: #e0e0e0;
    --color-neutral-3: #c2c2c2;
    --color-neutral-4: #9e9e9e;
    --color-neutral-5: #757575;
    --color-neutral-6: #616161;
    --color-neutral-7: #424242;
    --color-neutral-8: #212121;
    --color-neutral-9: #000000;

    /* Primária - Roxo Skilltrack */
    --color-primary-1: #a94bff; /* mais clara */
    --color-primary-2: #8f21fe; /* principal */
    --color-primary-3: #6e18c9; /* mais escura */

    /* Secundária - Verde */
    --color-secondary-1: #f0ffb3; /* mais clara */
    --color-secondary-2: #dbf37b; /* principal */
    --color-secondary-3: #b8d85a; /* mais escura */
}